<div style="width: 100%; clear: both;">
<div style="float: left; width: 50%;">
<img src="http://www.uoc.edu/portal/_resources/common/imatges/marca_UOC/UOC_Masterbrand.jpg" align="left">
</div>
<div style="float: right; width: 50%;">
<p style="margin: 0; padding-top: 22px; text-align:right;"><a href="http://www.editorialuoc.cat/mineria-de-datos" target="_blank">Minería de datos: Modelos y algoritmos</a></p>
<p style="margin: 0; text-align:right;">Estudios de Informática, Multimedia y Telecomunicación</p>
<p style="margin: 0; text-align:right; padding-button: 100px;">Universitat Oberta de Catalunya (<b>UOC</b>)</p>
</div>
</div>
<div style="width:100%;">&nbsp;</div>

# CH13EJ4 Podado del árbol

En este ejemplo se muestra como generar un árbol C5.0 sin y con opciones de poda.

## 1. Instalar los packages necesarios

In [1]:
if(!require(C50)){
    install.packages('C50',repos='http://cran.es.r-project.org')
    require(C50)
}
set.seed(5813)

Loading required package: C50

## 2. Carga de los datos

In [2]:
# Carga del dataset
Alumnos_usos_sociales <-read.csv("../data/B2.332_Students.csv",comment.char = "#")

# Reordenar al azar los datos
Alumnos_usos_sociales <- Alumnos_usos_sociales[sample(nrow(Alumnos_usos_sociales)),]

# Visualizamos el resultado 
head(Alumnos_usos_sociales)

    school sex age address famsize Pstatus Medu       Fedu
225 GP     F   19  U       GT3     T       Secundaria Secundaria
81  GP     M   15  U       GT3     T       Grado_9    Secundaria
916 GP     M   17  U       GT3     T       Secundaria Primaria_Superior
908 GP     M   18  U       GT3     T       Grado_9    Primaria_Superior
211 GP     M   17  U       GT3     T       Superior   Superior
50  GP     F   15  U       GT3     T       Superior   Superior
    Mjob     Fjob     ⋯ freetime goout Dalc Walc health absences G1 G2 G3
225 other    other    ⋯ 3        3     1    2    3      4        12 12 12
81  other    services ⋯ 2        2     1    3    3      0        11 11 12
916 services other    ⋯ 4        4     3    4    5      2         9  9 10
908 other    other    ⋯ 2        4     1    2    4      8        15 14 14
211 services teacher  ⋯ 2        3     1    2    5      4        13 13 14
50  services teacher  ⋯ 4        4     1    1    3      2        13 12 12
    Supera
225 Si
81  Si
916 Si
908 Si
211 Si
50  Si

### Preparamos los datos para crear el modelo 

Particionamos el conjunto de entrada en dos (*training* y *test set*)

In [3]:
# Reordenar al azar los datos
Alumnos_usos_sociales <- Alumnos_usos_sociales[sample(nrow(Alumnos_usos_sociales)),]
X <- Alumnos_usos_sociales[,c("sex","age","studytime","failures","schoolsup")]

# Asignamos a Y si supera o no el curso
Y <- Alumnos_usos_sociales[,34]

# conjunto de entreno
trainX <- X[1:800,]
trainY <- Y[1:800]

# conjunto de test
testX <- X[801:1044,]
testY <- Y[801:1044]

## 3. Creamos un primer modelo de árbol con la poda por defecto. 

Mostramos todas sus características.

In [4]:
model <- C50::C5.0(trainX,trainY)
summary(model)
plot(model)
model <- C50::C5.0(trainX,trainY,rules=TRUE)
summary(model)

c50 code called exit with value 1

Call:
C5.0.default(x = trainX, y = trainY)


C5.0 [Release 2.07 GPL Edition]  	Tue Oct 20 16:53:28 2020
-------------------------------

*** line 8 of `undefined.names': `:' or `:=' expected after attribute name `a 2h'

Error limit exceeded

ERROR: Error in 1:which(out == "Decision tree:"): argument of length 0

## 4. Creamos un primer modelo de árbol sin poda. 

Mostramos todas sus características.

In [5]:
modelP <- C50::C5.0(trainX,trainY,control=C5.0Control(noGlobalPruning=TRUE))
summary(modelP)
plot(modelP)
modelP <- C50::C5.0(trainX,trainY,rules=TRUE, control=C5.0Control(noGlobalPruning=TRUE))
summary(modelP)

c50 code called exit with value 1

Call:
C5.0.default(x = trainX, y = trainY, control = C5.0Control(noGlobalPruning
 = TRUE))


C5.0 [Release 2.07 GPL Edition]  	Tue Oct 20 16:53:41 2020
-------------------------------

*** line 8 of `undefined.names': `:' or `:=' expected after attribute name `a 2h'

Error limit exceeded

ERROR: Error in 1:which(out == "Decision tree:"): argument of length 0